[submodule "sub-modules/driver"]
	path = sub-modules/driver
	url = git@github.com:kamranahmedse/driver.js.git
[submodule "sub-modules/filepond/filepond"]
	path = sub-modules/filepond/filepond
	url = git@github.com:pqina/filepond.git
[submodule "sub-modules/filepond/plugins/file-encode"]
	path = sub-modules/filepond/plugins/file-encode
	url = git@github.com:pqina/filepond-plugin-file-encode.git
[submodule "sub-modules/filepond/plugins/image-resize"]
	path = sub-modules/filepond/plugins/image-resize
	url = git@github.com:pqina/filepond-plugin-image-resize.git
[submodule "sub-modules/filepond/plugins/image-transform"]
	path = sub-modules/filepond/plugins/image-transform
	url = git@github.com:pqina/filepond-plugin-image-transform.git
[submodule "sub-modules/filepond/plugins/image-preview"]
	path = sub-modules/filepond/plugins/image-preview
	url = git@github.com:pqina/filepond-plugin-image-preview.git
[submodule "sub-modules/filepond/plugins/image-exif-orientation"]
	path = sub-modules/filepond/plugins/image-exif-orientation
	url = git@github.com:pqina/filepond-plugin-image-exif-orientation.git
[submodule "sub-modules/filepond/plugins/image-crop"]
	path = sub-modules/filepond/plugins/image-crop
	url = git@github.com:pqina/filepond-plugin-image-crop.git
