# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php

** vendors and node imports
/vendors/*
/webroot/assets
/node_modules
/webroot/node

# custom node modules

/webroot/js/zh-TW.js
/webroot/js/zh-CN.js
/webroot/js/vi.js
/webroot/js/uk.js
/webroot/js/tr.js
/webroot/js/tk.js
/webroot/js/th.js
/webroot/js/sv.js
/webroot/js/sr.js
/webroot/js/sr-Cyrl.js
/webroot/js/sl.js
/webroot/js/sk.js
/webroot/js/script.js
/webroot/js/ru.js
/webroot/js/ro.js
/webroot/js/pt.js
/webroot/js/pt-BR.js
/webroot/js/ps.js
/webroot/js/poppper.js.flow
/webroot/js/popper.min.js.map
/webroot/js/popper.min.js
/webroot/js/popper.js.map
/webroot/js/popper.js
/webroot/js/popper-utils.min.js.map
/webroot/js/popper-utils.min.js
/webroot/js/popper-utils.js.map
/webroot/js/popper-utils.js
/webroot/js/pl.js
/webroot/js/package.json
/webroot/js/nl.js
/webroot/js/nb.js
/webroot/js/ms.js
/webroot/js/mk.js
/webroot/js/markitup.min.js.map
/webroot/js/markitup.min.js
/webroot/js/markitup.js
/webroot/js/markitup.jquery.min.js.map
/webroot/js/markitup.jquery.min.js
/webroot/js/markitup.jquery.js
/webroot/js/markdown-editor.min.js
/webroot/js/lv.js
/webroot/js/lt.js
/webroot/js/ko.js
/webroot/js/km.js
/webroot/js/jquery.slim.min.map
/webroot/js/jquery.slim.min.js
/webroot/js/jquery.slim.js
/webroot/js/jquery.min.map
/webroot/js/jquery.min.js
/webroot/js/jquery.mask.min.js
/webroot/js/jquery.mask.js
/webroot/js/jquery.js
/webroot/js/jquery.checkboxes-1.2.2.min.js
/webroot/js/jquery.checkboxes-1.2.2.js
/webroot/js/ja.js
/webroot/js/it.js
/webroot/js/is.js
/webroot/js/id.js
/webroot/js/hy.js
/webroot/js/hu.js
/webroot/js/hsb.js
/webroot/js/hr.js
/webroot/js/hi.js
/webroot/js/he.js
/webroot/js/Gruntfile.js
/webroot/js/gl.js
/webroot/js/fr.js
/webroot/js/fi.js
/webroot/js/fa.js
/webroot/js/eu.js
/webroot/js/et.js
/webroot/js/es.js
/webroot/js/en.js
/webroot/js/el.js
/webroot/js/dsb.js
/webroot/js/de.js
/webroot/js/da.js
/webroot/js/cs.js
/webroot/js/core.js
/webroot/js/ca.js
/webroot/js/bs.js
/webroot/js/bower.json
/webroot/js/bootstrap2-toggle.min.js.map
/webroot/js/bootstrap2-toggle.min.js
/webroot/js/bootstrap2-toggle.js
/webroot/js/bootstrap-duration-picker-debug.js
/webroot/js/bg.js
/webroot/js/az.js
/webroot/js/ar.js
/webroot/js/af.js
/webroot/css/stylesheet.css
/webroot/css/markitup.min.css.map
/webroot/css/markitup.min.css
/webroot/css/markitup.css
/webroot/css/markdown-editor.min.css
/webroot/css/bootstrap2-toggle.min.css
/webroot/css/bootstrap2-toggle.css
/webroot/css/bootstrap.min.css.map
/webroot/css/bootstrap.min.css
/webroot/css/bootstrap.css.map
/webroot/css/bootstrap.css
/webroot/css/bootstrap-reboot.min.css.map
/webroot/css/bootstrap-reboot.min.css
/webroot/css/bootstrap-reboot.css.map
/webroot/css/bootstrap-reboot.css
/webroot/css/bootstrap-grid.min.css.map
/webroot/css/bootstrap-grid.min.css
/webroot/css/bootstrap-grid.css.map
/webroot/css/bootstrap-grid.css
/webroot/css/bootstrap-duration-picker.css
